body {
   font-family: Arial, Helvetica, sans-serif;
  width: auto;
  display: block;
}

#profile img {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}


#bar {
    display: flex;
    flex-direction: row;
    margin: 10px;
    height: 130px;
    /* background-color: azure; */
    color: #4089ac ;
font-size: 30px;
cursor: pointer;
}

#bar h1 {
width: 35%;
font-weight: 300;
}


#menu {
    display: flex;
    width: 65%;
    justify-content: space-evenly;
}


#footer {
    background-color: darkgrey;
}

#banner {
    font-family:Arial, Helvetica, sans-serif;
    width: 80%;
    height: 300px;
    margin-top: 100px;
    margin-left: 10%;
    margin-right: 10%;
    text-align: center;
font-size: 40px;
color: rgb(83, 82, 82);
}


#banner h2 {
    color: rgb(83, 82, 82);
    font-size: 70px;
    text-shadow: 5px 5px 3px rgb(215, 213, 213);
    }

#profile {
display: grid;
grid-template-columns: 1fr 1fr 1fr;
grid-template-rows: 700px;
justify-content:center;
/* gap: 10px; */
margin-left: 80px;
padding: 0px;
}
li{
    margin: 20px;
}

#footer h2 {
    color: rgb(87, 85, 85);
    font-size: 25px;
} 

#footer {
display: flex;
direction: row;
height: 450px;
background-color:black;
border-top: #4089ac solid 20px;
padding: 20px;
padding-top: 5px;
color: rgb(87, 85, 85);
font-size: 20px;
}

#info {
    width: 33.3%;
    border-right: rgb(56, 55, 55) solid 3px;
    padding-left: 20px;
}

#about {
    width: 33.3%;
    padding-left: 20px;
    border-right: rgb(56, 55, 55) solid 3px;
}
#contact {
    width: 33.3%;
    padding-left: 20px;
}